.alert {
    position: fixed;
    bottom: 0px;
    left: 0;
    width:100%;
    background:#FFFFFF;
    padding: 2em;
    border-radius: 3px;
    font-size:1.5em;
    box-shadow: 0px 0px 9px 0px rgba(171, 171, 171, 0.5);
    display: none;
    z-index: 100;
    text-align: center;



    p {
        margin: 0.5em 0;
        color: $gris-roger;
    }
}

@include keyframes(move-the-object) {
  0%   { opacity: 0; bottom: -100%;}
  100% { opacity: 1; bottom: 0;}
}

.on {
    display: block;
    // @include animation('move-the-object .1s');

}

.block{
    height: 15em;
    width: 15em;

    border-radius: 3px;
    display: inline-block;
    margin: 1em;
    background: $white;



    .block-color {
        margin: 0.2em 0.2em 0 0.2em;
        height: 80%;
        border-radius: 3px;
        font-family: "Montserrat";
        text-transform: uppercase;
        line-height: 8.5em;
        text-align: center;
        font-size: 1.5em;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius:0px;
        border-bottom-left-radius:0px;

    }

    .pick-color {
        height: 20%;
        width: 100%;
        cursor:pointer;
        font-size: 1em;
        line-height: 3em;
        color: #404a56;
        background:#ffffff;
        border: none;
        transition: 0.3s;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius:3px;
        border-bottom-left-radius:3px;
        &:after {
            display: block;
            position: relative;
            top: -46px;
            left: 10px;
            width: 20px;

            content: url(../icos/copy.svg);

        }
        &:hover {
            background:#ededed;

        }
        &:focus {
            outline: none;
        }
    }


}

.dark {
    color: #FFFFFF;
}

.light {
    color: #333333;
}
