html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato", helvetica, Arial, sans-serif;
  font-size: 1.1875rem;
  line-height: 2rem;
  color: #566372;
}
@media screen and (max-width: 750px) {
  body {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
}

h1 {
  margin-top: 2.12rem;
  margin-bottom: 2.8rem;
  font-family: "Montserrat";
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 600;
  color: #262626;
}
@media screen and (max-width: 750px) {
  h1 {
    margin-top: 1.6rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2, h3, h4 {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  font-family: "Montserrat";
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-weight: 600;
  color: #404a55;
}
@media screen and (max-width: 750px) {
  h2, h3, h4 {
    margin-top: 2.12rem;
    margin-bottom: 2.6rem;
    font-size: 1.7rem;
    line-height: 2.2rem;
  }
}

ul, ol {
  margin-bottom: 2rem;
}
@media screen and (max-width: 750px) {
  ul, ol {
    margin-bottom: 1.4rem;
  }
}

li {
  margin-left: 30px;
  list-style-type: decimal;
}

p {
  margin-bottom: 2rem;
  color: #404a55;
}
@media screen and (max-width: 750px) {
  p {
    margin-bottom: 1.6rem;
  }
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "lato", helvetica, sans-serif;
  background: #F1F1F1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  color: #333333;
}

h1 {
  font-size: 3em;
  margin: 2em 0;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 2em;
  text-align: left;
}

h3 {
  font-size: 1.2em;
}

a {
  color: #ef4850;
}

header {
  background: white;
}

.wrap {
  max-width: 1000px;
  margin: auto;
  padding: 1em;
}

.font {
  text-align: left;
  background: white;
}

.bg-full {
  background: white;
  padding-bottom: 3em;
}

.withSub {
  margin-bottom: 0;
}

.font-titre {
  font-size: 2em;
  display: block;
}

.logo-full {
  max-width: 35em;
}

.logo-ico {
  max-width: 9em;
}

.logo-full-small {
  max-width: 20em;
}

.logo-ico-small {
  max-width: 4em;
}

.logo-full-small.inverted {
  padding: 2em;
  background: #333333;
}

.alert {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  background: #FFFFFF;
  padding: 2em;
  border-radius: 3px;
  font-size: 1.5em;
  box-shadow: 0px 0px 9px 0px rgba(171, 171, 171, 0.5);
  display: none;
  z-index: 100;
  text-align: center;
}
.alert p {
  margin: 0.5em 0;
  color: #404a55;
}

@-webkit-keyframes move-the-object {
  0% {
    opacity: 0;
    bottom: -100%;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
@-moz-keyframes move-the-object {
  0% {
    opacity: 0;
    bottom: -100%;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
@-o-keyframes move-the-object {
  0% {
    opacity: 0;
    bottom: -100%;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes move-the-object {
  0% {
    opacity: 0;
    bottom: -100%;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
.on {
  display: block;
}

.block {
  height: 15em;
  width: 15em;
  border-radius: 3px;
  display: inline-block;
  margin: 1em;
  background: white;
}
.block .block-color {
  margin: 0.2em 0.2em 0 0.2em;
  height: 80%;
  border-radius: 3px;
  font-family: "Montserrat";
  text-transform: uppercase;
  line-height: 8.5em;
  text-align: center;
  font-size: 1.5em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.block .pick-color {
  height: 20%;
  width: 100%;
  cursor: pointer;
  font-size: 1em;
  line-height: 3em;
  color: #404a56;
  background: #ffffff;
  border: none;
  transition: 0.3s;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.block .pick-color:after {
  display: block;
  position: relative;
  top: -46px;
  left: 10px;
  width: 20px;
  content: url(../icos/copy.svg);
}
.block .pick-color:hover {
  background: #ededed;
}
.block .pick-color:focus {
  outline: none;
}

.dark {
  color: #FFFFFF;
}

.light {
  color: #333333;
}

.tab-content {
  display: none;
}
.tab-content h3 {
  margin-top: 0;
}

.tabs-content {
  padding: 4em;
  background: white;
}
.tabs-content img {
  display: block;
  margin-bottom: 1em;
}
.tabs-content p:first-child, .tabs-content p:nth-child(2) {
  margin-bottom: 5em;
}

.tab-content.active {
  display: block;
}

.tabs {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
}
.tabs::after {
  clear: both;
  content: "";
  display: block;
}
.tabs li {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 24.99743%;
  background: #BFC3C9;
  list-style-type: none;
  margin: 0;
  height: 4em;
  text-align: center;
}
.tabs li:last-child {
  margin-right: 0;
}
.tabs li a {
  color: white;
  text-decoration: none;
  line-height: 4em;
}
.tabs li.active {
  background: #7f8894;
}

/*# sourceMappingURL=style.css.map */
