header {
    background: $white;
}
.wrap {
    max-width: 1000px;
    margin: auto;
    padding: 1em;
}
.font {
    text-align: left;
    background: $white;
}
.bg-full {
    background:$white;
    padding-bottom :3em;
}

.withSub {
    margin-bottom: 0;
}
